<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="  
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd  
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
     
	<!-- Bean注入 -->
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
        
	<bean class="org.springframework.beans.factory.annotation.QualifierAnnotationAutowireCandidateResolver"/>
	
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
	
	<bean name="LoginAction" class="com.frm.webtools.action.LoginAction">
    </bean>
    
    <bean name="DataQueryAction" class="com.frm.entity.action.DataQueryAction">
        <property name="dataQueryService">
            <ref bean="dataQueryService"/>
        </property>

    </bean>
    
    <bean name="MenuTreeLoaderAction" class="com.frm.sysmanage.action.MenuTreeLoaderAction">
        <property name="menuTreeLoaderService">
            <ref bean="menuTreeLoaderService"/>
        </property>
        
        <property name="checkMenuTreeLoaderService">
            <ref bean="checkMenuTreeLoaderService"/>
        </property>

    </bean>
    
	<bean name="MenuTreeManageAction" class="com.frm.sysmanage.action.MenuTreeManageAction">
        <property name="menuTreeManageService">
            <ref bean="menuTreeManageService"/>
        </property>

    </bean>
    
    <bean name="LoadGroupsAction" class="com.frm.sysmanage.action.LoadGroupsAction">
        <property name="securityGroupTreeLoaderService">
            <ref bean="securityGroupTreeLoaderService"/>
        </property>

    </bean>
    
    <bean name="PermissionMenuTreeManagerAction" class="com.frm.sysmanage.action.PermissionMenuTreeManagerAction">
        <property name="permissionMenuTreeManagerService">
            <ref bean="permissionMenuTreeManagerService"/>
        </property>

    </bean>
    
    <bean name="PermissionUsergroupManagerAction" class="com.frm.sysmanage.action.PermissionUsergroupManagerAction">
        <property name="permissionUsergroupManagerService">
            <ref bean="permissionUsergroupManagerService"/>
        </property>

    </bean>
    
    <bean name="SystemSettingManagerAction" class="com.frm.sysmanage.action.SystemSettingManagerAction">
        <property name="logLevel">
            <ref bean="logLevel"/>
        </property>
        <property name="systemSettingManagerService">
            <ref bean="systemSettingManagerService"/>
        </property>

    </bean>
    
	<bean name="ProductManagerAction" class="com.apps.product.action.ProductManagerAction">

    </bean>
    
    <bean id="partyGroup" class="com.apps.party.entitymodel.PartyGroup" scope="prototype"/>
    
    <bean name="partyGroupManager" class="com.apps.party.action.PartyGroupAction">

    </bean>

</beans>

